<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Data Management</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <script src=""></script>
    <style type="text/css">
        #out {
            width: 500px;
            margin: 50px auto;
            overflow: hidden;
        }
    </style>
</head>

<body ng-app="app">
    <div id="out" ng-controller="ctr">
        <h2>---Data Management---</h2>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="请输入录入信息" ng-model="ipt">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="add()">添加</button>
            </span>
        </div>
        <h2>基本信息为：</h2>
        <label for="flag">全选
            <input id="flag" type="checkbox" ng-model="select_all" ng-click="selectAll()">
        </label>
        <button class="btn btn-default btn-sm" ng-click="delall()">批量删除</button>
        <table class="table">
            <tr>
                <th>选择</th>
                <th>序号</th>
                <th>信息</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="itme in list">
                <td><input type="checkbox" ng-model="m[$index]"></td>
                <td>{{$index+1}}</td>
                <td>{{itme}}</td>
                <td><button class="btn btn-danger btn-sm" type="button" ng-click="del($index)">删除</button>
                    <button class="btn btn-default btn-sm" type="button" ng-click="resize($index)">修改</button></td>
            </tr>
        </table>
    </div>
</body>
<script type="text/javascript">
    angular.module('app', []).controller('ctr', function ($scope) {
        $scope.list = ["Java", "Python", "Angular", "a", "b", "c"];
        $scope.m = [];
        $scope.checked = [];
        $scope.select_all = false;
        $scope.$watch('m', function () {
            if ($scope.m.indexOf(false) >= 0) {
                $scope.select_all = false;
            } else if ($scope.m.length == 0) {
                $scope.select_all = false;
            } else {
                $scope.select_all = true;
            }
        }, true)
        $scope.selectAll = function () {
            angular.forEach($scope.list, function (lis, index) {
                if ($scope.select_all) {
                    $scope.m[index] = true;
                } else {
                    $scope.m[index] = false;
                }
            })
        }
        $scope.delall = function () {
            let removedList = [];
            angular.forEach($scope.m, function (checked, index) {
                if (checked) {
                    removedList.push($scope.list[index]);
                }
            })
            angular.forEach(removedList, function (itme, index) {
                let i = $scope.list.indexOf(itme);
                if (i >= 0) {
                    $scope.list.splice(i, 1);
                }
            });
            $scope.m = [];
        }
        $scope.add = function () {
            $scope.list.push($scope.ipt)
            $scope.ipt = ''
        }
        $scope.del = function (a) {
            $scope.list.splice(a, 1)
        }
        $scope.resize = function (a) {
            let str = prompt('请输入要改的数据', '')
            if (str == '') {
                return false;
            } else {
                $scope.list[a] = str
            }
        }
    });
</script>

</html>